.container{
  margin: 20px;
  .btn{
    background-color: rgb(77, 24, 155);
    padding: 10px;
    border: transparent;
    border-radius: 5px;
    color: white;
    font-size: 15px;
  }
  
  .nextBtn {
    margin-right: 20px;
  }
}

